@import url(http://fonts.googleapis.com/css?family=Raleway:200,300|Source+Sans+Pro:200,400);

body {
	background: #fafafa;
	margin: 0;
	padding: 0;
}
#accent-bar {
	background: #ff550d;
	width: 16px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}
#content {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-weight: 200;
	line-height: 1.3;
	padding: 96px 16px 0 80px;
	color: #333;
}
h1 {
	font-size: 72px;
	font-weight: 300;
    margin: 0;
}
h2 {
	font-size: inherit;
	font-weight: inherit;
    margin: 0;
}
a {
	padding-left: 8px;
	margin-left: -8px;
}
a:hover {
	border-left: 2px solid #ff550d;
	padding-left: 6px;
}

/* For ul layout */
#links {
	margin-top: 50px;
	list-style: none;
	line-height: 1.4;
	padding: 0;
	width: 50px;
}
#links a {
	display: block;
	color: inherit;
	text-decoration: none;
}

/* For table layout*/
table {
	margin-top: 50px;
	font-family: 'Source Sans Pro';
	font-size: 24px;
	list-style: none;
	border-spacing: 0;
}
tr > td:first-child,
tr > td:first-child * {
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	padding-right: 10px;
}
td {
	padding: 0;
}