.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
body {
	background: #fafafa;
	margin: 0;
	padding: 0;
}
h1 {
    font-size: 100px;
	font-weight: 200;
    margin: 90px 0 0 20px;
}
h2 {
    font-size: 75px;
	font-weight: 100;
    margin: 5px 0 0 42px;
}
#content {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	letter-spacing: 5px;
	color: #333;
}
#links {
	margin-top: 50px;
	padding: 0;
	list-style: none;
}
#links a {
	font-size: 26px;
	margin-left: 41px;
	margin-top: 4px;
	color: #333;
	text-decoration: none;
	letter-spacing: 2px;
}
