@import url(http://fonts.googleapis.com/css?family=Raleway:300|Source+Sans+Pro:200,300,400);

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
body {
	background: #fafafa;
	margin: 0;
	padding: 0;
}
#content {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	line-height: 1.3;
	padding: 96px 0 0 64px;
	color: #333;
}
h1 {
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 72px;
    margin: 0;
	letter-spacing: 5px;
}
h2 {
	font-weight: inherit;
	font-size: 32px;
    margin: 0;
}

/* For ul layout */
#links {
	font-family: 'Raleway';
	font-weight: 300;
	margin-top: 50px;
	font-size: 24px;
	list-style: none;
	padding: 0;
	line-height: 1.4;
}
#links a {
	color: #333;
	text-decoration: none;
}

/* For table layout*/
table {
	margin-top: 50px;
	font-size: 24px;
	list-style: none;
}
tr > td:first-child,
tr > td:first-child * {
	font-weight: 400;
	color: #333;
	text-decoration: none;
	padding-right: 10px;
}
td {
	vertical-align: baseline;
	padding: 0;
}