:root {
    --color-background: #ffffff;
    --color-primary: #333333;
    --color-accent: #4380b1;
    --font-size-small: 18px;
    --font-size-regular: 24px;
    --font-size-large: 48px;
    --line-height-tight: 120%;
    --line-height-regular: 135%;
}

html {
    background: var(--color-background);
    color: var(--color-primary);
    font-family: "Lora", serif;
    font-size: var(--font-size-regular);
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    position: relative;
}

.content {
    min-width: 20rem;
    margin-left: 11.5rem;
    margin-right: 2.5rem;
    margin-bottom: 0;
    padding: 3rem 0 10rem 0;
}

h1 {
    font-size: var(--font-size-large);
    font-weight: 300;
    margin: -12px 0 0;
}

.byline {
    font-family: "Lato", sans-serif;
    display: block;
    font-style: italic;
}

p {
    line-height: var(--line-height-regular);
    margin: 0 0 1em;
    text-indent: 0;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sidebar {
    float: left;
    position: absolute;
    text-align: right;
    left: 1.5rem;
    border-top: solid 2px #5899cf;
    padding: 12px 0 3rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.sidebar a {
    line-height: var(--line-height-regular);
    font-size: var(--font-size-small);
    color: var(--color-primary);
    display: block;
}


@media (max-device-width: 760px) {
    .content {
        margin-left: 2.5rem;
    }
    .sidebar {
        float: right;
        position: static;
    }
}